*{
  background-color:#151515 ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  color: #ffffff;
} 

#home{
display: grid;
grid-auto-flow:column;
justify-content: space-between;
color: #ffffff;
font-size: 25px;
margin: 10px;
}

#home img{
  padding: 10px;
  margin-top: 15px;
}

#home-tag{
  display: grid;
  grid-auto-flow:column;
}

#home-tag p{
  margin-top: 22px;
}

.menu-mobile{
  display: none;
}
.btn-abrir-menu{
display: none;
}


#home-links{
  display: grid;
  grid-auto-flow:column;
  font-size: 30px;
}

#home-links li{
margin-top: 0px;
padding-top: 0px;
padding: 15px;
list-style: none;
}

#home-links a{
color: #ffffff;
font-size: 20px;
}

.overlay-menu{
  display: none;
}

#home-links a:hover{
  color: #fff500;
}

section{
  position: relative;

}

#home-iza img{
  position: absolute;
  margin-left: 90px;
  margin-top: -180px;
  margin-right: 0px;
  margin-bottom: 0px;
  height: 480px;
}

#home-iza h1{
  margin-top: 45px;
  font-size: 200px;
  line-height: 120px;
  margin-bottom: 0px;
}

#home-iza-t{
margin-top: 230px;
text-align: center;
}

#iz{
  margin-right: 300px;
  font-weight:lighter;
  color: #fff500;
  
}

#ge{
  margin-right: 10px;
  color: #151515;
  text-shadow: 
  2px 2px 0px #fff500,
  -2px 2px 0px #fff500,
  -2px -2px 0px #fff500,
  -2px 2px 0px #fff500,
  2px -2px 0px #fff500;
}



    @media (min-width: 1560px){
      #home-iza img{
        height: 750px;
        margin-top: -450px;

      }
      #home-iza-t{
        margin-top: 530px;
        margin-left: 150px;
        text-align: start;
        }
      }

      @media (max-width: 1100px){
        #home-iza img{
          height: 750px;
          margin-top: -500px;
  
        }
        #home-iza-t{
          margin-top: 580px;
          margin-left: 150px;
          text-align: start;
          }

          #home-iza-t h1{
            font-size: 140px;
            margin-top: 10px;
            }
        }

        @media( max-width: 900px){
          #home-iza img{
            height: 700px;
            margin-top: -500px;
    
          }
          #home-iza-t{
            margin-top: 580px;
            margin-left: 150px;
            text-align: start;
            }
  
            #home-iza-t h1{
              font-size: 110px;
              margin-top: 10px;
              line-height: 100px;
              }

              #home-tag p{
                font-size: 20px;
                margin-top: 25px;
              }
        }
    
    
        @media( max-width: 555px){
          #home-tag p{
            display: none;
          }

          #home-iza img{
            display: none;
          }


           /* mobile */
          .btn-abrir-menu svg{
            color: #fff500;
            width: 40px;
          }

        .menu-mobile{
        display: grid;
        height: 10vh;
        position: fixed;
        top: 0;
        right: 0;
       width: 0%;
       transition:.2s;
       z-index: 999999;
        }
        .btn-abrir-menu{
          display: block;
          }

        .menu-mobile.abrir-menu{
          width: 30%;
        }

        .menu-mobile.abrir-menu ~ .overlay-menu{
          display: block;
        }


        .menu-mobile .btn-fechar{
          padding: 25px 4%;
        }

        .btn-fechar svg{
          width: 20px;
        }

        .menu-mobile .btn-fechar svg{
          color: black;
          font-size: 30px;
        }

        .menu-mobile nav ul{
          text-align: right;
          list-style: none;
        }

        .menu-mobile nav ul li a{
         display: block;
          color: #ffffff;
          font-size: 20px;
          font-weight: 300;
          padding: 20px 8%;
          background-color: #151515;
        }

        .menu-mobile nav ul li a:hover{
          background-color: #fff500;
          color: black;
         font-weight: 900;
        }

        .overlay-menu{
          display: block;
          background-color: #000000a7;
          width: 100%;
          height: 100%;
          position: fixed;
          top: 0;
          left: 0;
          z-index: 888888;
          display: none;
        }
    
        #home-iza-t h1{
         font-size: 14vh;
         line-height: 90px;
        }
    
    
        #home-iza-t{
          transform: rotate(270deg);
          margin-top: 53vh;
          margin-bottom: 0px;
          display: block;
          margin-left: 38vw;
         margin-bottom: 5vh;
        }

        #home-links{
          display: none;
        }
    
        #iz{
          margin: 0px;
        }
    
        #home-tag img{
          margin-top: 0px;
          margin-left: 0px;
          margin-bottom: 20px;
        }
        }

        @media( max-width: 430px){
          #home-iza-t h1{
            font-size: 90px;
            line-height: 70px;
           }

           #home-iza-t{
            transform: rotate(270deg);
            margin-top: 57vh;
            margin-left: 51vw;
            margin-bottom: 10vh;
           }

        }

        @media( max-width: 415px){
          #home-iza-t h1{
            font-size: 85px;
            line-height: 70px;
           }

           #home-iza-t{
            transform: rotate(270deg);
            margin-top: 50vh;
            margin-left: 51vw;
            margin-bottom: 10vh;
           }

        }

        @media( max-width: 393px){
          #home-iza-t h1{
            font-size: 80px;
            line-height: 60px;
           }

           #home-iza-t{
            transform: rotate(270deg);
            margin-top: 58vh;
            margin-left: 55vw;
            margin-bottom: 10vh;
           }
          
        }

        @media( max-width: 375px){
          #home-iza-t h1{
            font-size: 75px;
            line-height: 60px;
           }
           #home-iza-t{
            transform: rotate(270deg);
            margin-top: 55vh;
            margin-left: 54vw;
           margin-bottom: 10px;
          }
        }

        @media( max-width: 365px){
         
          #home-iza-t h1{
            font-size: 75px;
            line-height: 60px;
            margin: auto;
            margin-bottom: 15px;
           }

           #home-iza-t{
            transform: rotate(270deg);
            margin-top: 50vh;
            margin-left: 49vw;
            margin-bottom: 10vh;
           }

        }
    