#homeGlobal{
  font-size: 80px;
}

.contatoSB{
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}

.contatoSB img{
  width:1000px;
  text-align: center;
}

.contatoSB p{
  text-align: start;
  margin-top: 100px;
  margin-bottom: 10px;
}

#homeB{
  margin-top: 100px;
  margin-left: 150px;
  margin-bottom: 20px;
}

#tituloGlobal-B h1{
  font-size: 350px;
  font-weight: normal;
  color: #151515;
  text-shadow: 
  2px 2px 0px #fdb304,
  2px 2px 0px #fdb304,
  -2px -2px 0px #fdb304,
  -2px 2px 0px #fdb304,
  2px -2px 0px #fdb304;
}

.linhaB{
  position: absolute;
  transform: translate(0px, -1750px);
  margin-left: 7%;
}

@media (min-width:1560px){
  .linhaB{
    transform: translate(0px, -1750px);
    margin-left: 4.5%;
  }
  
}


@media (max-width:1100px){
  #homeGlobal{
    width: 1000px;
    font-size: 60px;
    text-align: center;
    margin-left: -50px;
  }

  .contatoSB img{
    width:900px;
  }

  .linhaB{
   display: none;
  }
  
}

@media (max-width:900px){
  #homeGlobal{
    width: 700px;
    font-size: 60px;
    text-align: center;
    margin-left: 50px;
  }

  #tituloGlobal-B h1{
    font-size: 250px;
    font-weight: normal;
    color: #151515;
    text-shadow: 
    2px 2px 0px #fdb304,
    2px 2px 0px #fdb304,
    -2px -2px 0px #fdb304,
    -2px 2px 0px #fdb304,
    2px -2px 0px #fdb304;
  }

  #tituloNGranja h1{
    font-size: 70px;
    line-height: 70px;
    text-align: start;
  
  }

  .contatoSB img{
    width:700px;
  }
}

@media (max-width:431px){
  body{
    width: 420px;
  }

  #homeGlobal{
    width: 410px;
    margin: auto;
    margin-top: -20px;
  }
  

  #tituloNGranja h1{
    font-size: 40px;
    line-height: 35px;
    margin-top: 30px;
  }
  
  .contatoSB img{
    width:410px;
    text-align: center;
  }
  
  .contatoSB p{
    text-align: start;
    margin-top: 60px;
    margin-bottom: 10px;
  }
  
  #tituloGlobal-B h1{
    font-size: 90px;
    font-weight: bold;
    color: #151515;
    text-shadow: 
    2px 2px 0px #fdb304,
    2px 2px 0px #fdb304,
    -2px -2px 0px #fdb304,
    -2px 2px 0px #fdb304,
    2px -2px 0px #fdb304;
  }
  
  .linhaB{
    display: none;
  }
}

@media (max-width:415px){
  #homeGlobal{
    width: 700px;
    font-size: 60px;
    text-align: center;
    margin-left: 50px;
  }

  #tituloGlobal-B h1{
    font-size: 250px;
    font-weight: normal;
    color: #151515;
    text-shadow: 
    2px 2px 0px #fdb304,
    2px 2px 0px #fdb304,
    -2px -2px 0px #fdb304,
    -2px 2px 0px #fdb304,
    2px -2px 0px #fdb304;
  }

  #tituloNGranja h1{
    font-size: 70px;
    line-height: 70px;
    text-align: start;
  
  }

  .contatoSB img{
    width:700px;
  }
}

@media (max-width:431px){
  body{
    width: 410px;
  }

  #homeGlobal{
    width: 390px;
    margin: auto;
    margin-top: -20px;
  }
  

  #tituloNGranja h1{
    font-size: 40px;
    line-height: 35px;
    margin-top: 30px;
  }

  .contatoSB{
    width: 350px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: -20px;
  }
  
  .contatoSB img{
    width:380px;
    text-align: center;
  }
  
  .contatoSB p{
    text-align: start;
    margin-top: 60px;
    margin-bottom: 10px;
  }
  
  #tituloGlobal-B h1{
    font-size: 90px;
    font-weight: bold;
    color: #151515;
    text-shadow: 
    2px 2px 0px #fdb304,
    2px 2px 0px #fdb304,
    -2px -2px 0px #fdb304,
    -2px 2px 0px #fdb304,
    2px -2px 0px #fdb304;
  }

  footer{
width: 410px;
margin: auto;
padding: 0px;
  }
  
  .linhaB{
    display: none;
  }
}

@media (max-width:395px){
  body{
    width: 385px;
  }

  #homeGlobal{
    width: 375px;
    margin: auto;
    margin-top: -20px;
  }
  

  #tituloNGranja h1{
    font-size: 40px;
    line-height: 35px;
    margin-top: 30px;
  }

  .contatoSB{
    width: 350px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: -20px;
  }
  
  .contatoSB img{
    width:370px;
    text-align: center;
  }
  
  .contatoSB p{
    text-align: start;
    margin-top: 60px;
    margin-bottom: 10px;
  }
  
  #tituloGlobal-B h1{
    font-size: 90px;
    font-weight: bold;
    color: #151515;
    text-shadow: 
    2px 2px 0px #fdb304,
    2px 2px 0px #fdb304,
    -2px -2px 0px #fdb304,
    -2px 2px 0px #fdb304,
    2px -2px 0px #fdb304;
  }

  footer{
width: 385px;
margin: auto;
padding: 0px;
  }
  
  .linhaB{
    display: none;
  }
}

@media (max-width:376px){
  body{
    width: 370px;
  }

  #homeGlobal{
    width: 355px;
    margin: auto;
    margin-top: -20px;
  }
  

  #tituloNGranja h1{
    font-size: 40px;
    line-height: 35px;
    margin-top: 30px;
  }

  .contatoSB{
    width: 340px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: -20px;
  }
  
  .contatoSB img{
    width:355px;
    text-align: center;
  }
  
  .contatoSB p{
    text-align: start;
    margin-top: 60px;
    margin-bottom: 10px;
  }
  
  #tituloGlobal-B h1{
    font-size: 90px;
    font-weight: bold;
    color: #151515;
    text-shadow: 
    2px 2px 0px #fdb304,
    2px 2px 0px #fdb304,
    -2px -2px 0px #fdb304,
    -2px 2px 0px #fdb304,
    2px -2px 0px #fdb304;
  }

  footer{
width: 365px;
margin: auto;
padding: 0px;
  }

  .ui-final{
    margin-bottom: 10px;
  }
  
  .linhaB{
    display: none;
  }
}

@media (max-width:361px){
  body{
    width: 355px;
  }

  #homeGlobal{
    width: 340px;
    margin: auto;
    margin-top: -20px;
  }
  

  #tituloNGranja h1{
    font-size: 30px;
    line-height: 30px;
    margin-top: 30px;
  }

  .contatoSB{
    width: 320px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: -20px;
  }
  
  .contatoSB img{
    width:340px;
    text-align: center;
  }
  
  .contatoSB p{
    text-align: start;
    margin-top: 60px;
    margin-bottom: 10px;
  }
  
  #tituloGlobal-B h1{
    font-size: 90px;
    font-weight: bold;
    color: #151515;
    text-shadow: 
    2px 2px 0px #fdb304,
    2px 2px 0px #fdb304,
    -2px -2px 0px #fdb304,
    -2px 2px 0px #fdb304,
    2px -2px 0px #fdb304;
  }

  footer{
width: 355px;
margin: auto;
padding: 0px;
  }

  .ui-final{
    margin-bottom: 10px;
  }
  
  .linhaB{
    display: none;
  }
}