#curriculo-bio{
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  max-width: 1200px;
}

#linha img{
  position: absolute;
  margin-left: 90px;
  margin-top: -255%;
  height: 3100px;
}


#foto-iza{
  position: absolute;
  transform: translate(105%, -114%);
  background-image:linear-gradient(to top, #ffffff 50%, #151515 50%);
  border: 1px solid #FFF500;
  border-radius: 50%;
  padding: 10px;
}

.curriculo-des img{
  width: 300px;
}

.curriculo-des{
  margin-top: 200px;
  padding: 200px 20px 20px 20px;
  background-color: #ffffff;
  border-radius: 10px;
  width: 1000px;
}

.curriculo-des h2{
font-size: 30px;
background-color: #ffffff;
color: #151515;
text-align: center;
margin-bottom: 20px;
}

.curriculo-des p{
 background-color:#ffffff;
 color: #151515;
  font-size: 20px;
}

strong{
  background-color: #ffffff;
  color: #151515;
}

#exp-profissional{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#met-quadrado{
  position: absolute;
margin-left: 89%;
}

.titulo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo h1{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  color: #FFF500;
  margin: 100px 0px 50px 0px;
  border-bottom: 1px solid #ffffff ;
}

.experiencia{
display: grid;
grid-auto-flow:column;
justify-content: space-between;
margin-bottom: 10px;
margin-top: 40px;
}

.experiencia h3{
  font-size: 20px;
}

.lista-exp{
  margin-left: 20px;
  line-height: 25px;
}


.soft-slills{
  display: grid;
  grid-auto-flow:column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-top: 0px;
}

.soft-slills li{
  margin: 0px 20px 20px 20px;
  list-style: none;
  padding: 10px;
  border: 1px solid #FFF500;
}

.formacao{
  border: 1px solid #FFF500;
  padding: 20px;
  margin-bottom: 50px;
}

#retangulo{
  position: absolute;
  transform: translate(0%, -12%);
  margin-left: 85%;
  background-image:linear-gradient(to top, #ffffff 50%, #151515 50%);
}

.rodape{
  display: grid;
  grid-auto-flow:column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  padding: 100;
  background-color: #ffffff;
  color: #ffffff;
}

.rodape-wh{
  background-color: #ffffff;
}

.rodape a {
  background-color: #ffffff;
}


.rodape-wh img{
  background-color: #ffffff;
  margin: 10px;
}

@media (min-width: 1560px){
  #linha img{
    position: absolute;
    margin-left: 90px;
    margin-top: -179%;
    height: 3100px;
  }
}

@media (max-width: 1100px){
  #linha{
    display: none;
  }

  .curriculo-des{
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 880px;
  }

  #foto-iza{
    position: absolute;
    transform: translate(95%, -114%);
  }

  #retangulo{
    display: none;
  }

  #met-quadrado{
    display: none;
  }

  #foto-iza{
    position: absolute;
    transform: translate(119%, -96%);
    background-image:linear-gradient(to top, #ffffff 50%, #151515 50%);
    border: 1px solid #FFF500;
    border-radius: 50%;
    padding: 10px;
  }
  
  .curriculo-des img{
    width: 250px;
  }
  
}

@media( max-width: 900px){
  #linha{
    display: none;
  }

  .curriculo-des{
    margin: auto;
    padding: 140px 5px 5px 5px;
    width: 700px;
    margin-top: 110px;
    }

    #foto-iza{
      position: absolute;
      display: block;
      transform: translate(0%, 0%);
      margin-bottom:485px;
      margin-left:32vw;
      border-radius: 50%;
      padding:10px;
    }
    
    .curriculo-des img{
      width: 200px;
   }

   .experiencia{
    display: grid;
    grid-auto-flow:column;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 0px;
    margin-top: 10px;
    width: 700px;
    }
    
    .lista-exp{
      margin-left: 60px;
    }

    p{
      margin-left: 10px;
    }

    .p{
      margin-left: 30px;
      font-size: 16px;
    }

    .rodape{
      display: grid;
      grid-auto-flow:column;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      padding-top: 50px;
      padding-bottom: 50px;
    width: 700px;
    margin-left: -70px;
    }
    
    .rodape-wh{
      background-color: #ffffff;
    }
    
    .rodape a {
      background-color: #ffffff;
    }
    
    
    .rodape-wh img{
      background-color: #ffffff;
      margin: 10px;
      width: 40px;
      height: 60px;
    }

    
}



@media( max-width: 555px){
  #linha{
    display: none;
  }

  .curriculo-des{
    margin: auto;
    padding: 140px 5px 5px 5px;
    width: 400px;
    margin-top: 110px;
 
    }
  
  .curriculo-des h2{
  font-size: 19px;
  margin-bottom: 20px;
  text-align: center;
  }
  
  .curriculo-des p{
   background-color:#ffffff;
   color: #151515;
    font-size: 14px;
    margin: auto;
    width: 400px;
    margin-left: 0px;
  }

  #retangulo{
    display: none;
  }

  #met-quadrado{
    display: none;
  }

  #foto-iza{
    position: absolute;
    display: block;
    transform: translate(0%, 0%);
    margin-bottom:420px;
    margin-left:90px;
    border-radius: 50%;
    padding:10px;
  }
  
  .curriculo-des img{
    width: 200px;
 }

#met-quadrado{
  display: none;
}


.titulo h1{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  font-weight: 600;
  margin: auto;
  color: #FFF500;
  margin: 50px 0px 50px 0px;
  border-bottom: 1px solid #ffffff ;
}

.experiencia{
display: grid;
grid-auto-flow:column;
justify-content: space-between;
margin: auto;
margin-bottom: 0px;
margin-top: 10px;
width: 400px;

}

.experiencia h3{
  font-size: 14px;

}

.lista-exp{
  margin-left: 25px;
  margin-bottom: 20px;
  line-height: 22px;
  font-size: 12px;
  width: 400px;
}

p{
  font-size: 13px;
  margin-left: 4px;
  margin-bottom: 10px;
  width: 400px;
margin: auto;
}


.soft-slills{
  display: grid;
  grid-auto-flow:column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-top: 0px;
  width: 400px;
  margin: auto;
}

.soft-slills li{
  margin: 0px 10px 20px 10px;
  list-style: none;
  padding: 10px;
  font-weight: 800;
}

.formacao{
  
  border: 1px solid #FFF500;
  padding: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 400px;
  margin: auto;
}

.formacao h3{
 margin: auto;
 font-size: 11px;
}

.rodape{
  display: grid;
  grid-auto-flow:column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
width: 400px;
margin-left: -90px;
}

.rodape-wh{
  background-color: #ffffff;
}

.rodape a {
  background-color: #ffffff;
}


.rodape-wh img{
  background-color: #ffffff;
  margin: 10px;
  width: 30px;
  height: 50px;
}
}


@media( max-width: 400px){
  #linha{
    display: none;
  }

  .curriculo-des{
    margin: auto;
    padding: 140px 5px 5px 5px;
    width: 360px;
    margin-top: 110px;
 
    }
  
  .curriculo-des h2{
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
  }
  
  .curriculo-des p{
   background-color:#ffffff;
   color: #151515;
    font-size: 12px;
    margin: auto;
    width: 350px;
    margin-left: 0px;
  }

  #retangulo{
    display: none;
  }

  #met-quadrado{
    display: none;
  }

  #foto-iza{
    position: absolute;
    display: block;
    transform: translate(0%, 0%);
    margin-bottom:365px;
    margin-left:20vw;
    border-radius: 50%;
    padding:10px;
  }
  
  .curriculo-des img{
    width: 200px;
 }

#met-quadrado{
  display: none;
}


.titulo h1{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  font-weight: 600;
  margin: auto;
  color: #FFF500;
  margin: 50px 0px 50px 0px;
  border-bottom: 1px solid #ffffff ;
}

.experiencia{
display: grid;
grid-auto-flow:column;
justify-content: space-between;
margin: auto;
margin-bottom: 0px;
margin-top: 10px;
width: 340px;
}

.experiencia h3{
  font-size: 13px;
}

.lista-exp{
  margin-left: 25px;
  margin-bottom: 20px;
  line-height: 22px;
  font-size: 11px;
  width: 340px;
}

p{
  font-size: 12px;
  margin-left: 14px;
  margin-bottom: 10px;
  width: 340px;
  margin: auto;

}


.soft-slills{
  display: grid;
  grid-auto-flow:column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  margin-top: 0px;
  width: 340px;
  margin: auto;
}

.soft-slills li{
  margin: 0px 10px 20px 10px;
  list-style: none;
  padding: 10px;
  font-weight: 800;
}

.formacao{ 
  border: 1px solid #FFF500;
  padding: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 340px;
  margin: auto;
}

.formacao h3{
 margin: auto;
 font-size: 11px;
}

.rodape{
  display: grid;
  grid-auto-flow:column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
width: 370px;
margin-left: -110px;
}

.rodape-wh{
  background-color: #ffffff;
}

.rodape a {
  background-color: #ffffff;
}


.rodape-wh img{
  background-color: #ffffff;
  margin: 10px;
  width: 20px;
  height: 20px;
}
}

@media( max-width: 430px){
  .curriculo-des{
    width: 400px;
    }

    .experiencia{
      width: 400px;
      }
  
  .curriculo-des h2{
  font-size: 18px;
  }
  
  .curriculo-des p{
    font-size: 12px;
    width: 400px;
    margin-left: 0px;
  }

  #foto-iza{
    margin-bottom:356px;
    margin-left:21vw;   
  }

  .p{
    font-size: 12px;
    margin-left: 19px;
  }

  .lista-exp{
    margin-left: 35px;
    font-size: 12px;
    width: 400px;
  }

  .formacao{ 
    border: 1px solid #FFF500;
    padding: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 400px;
    margin: auto;
  }
  
  .formacao h3{
   margin: auto;
   font-size: 11px;
  }

  p{
    margin-left: 0px;
  }

  .soft-slills{
    font-size: 12px;
    margin-top: 0px;
    width: 400px;
    margin: auto;
  }

  .rodape{
    width: 355px;
    margin-left: -65px;
  }
}


@media( max-width: 393px){
  .curriculo-des{
    width: 373px;
    }

    .experiencia{
      width: 370px;
      }
  
  .curriculo-des h2{
  font-size: 17px;
  }
  
  .curriculo-des p{
    font-size: 12px;
    width: 373px;
    margin-left: 0px;
  }

  #foto-iza{
    margin-bottom:370px;
    margin-left:19vw;   
  }

  .p{
    font-size: 11px;
    margin-left: 9px;
  }

  .lista-exp{
    margin-left: 26px;
    font-size: 12px;
    width: 360px;
  }

  .formacao{ 
    border: 1px solid #FFF500;
    padding: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 370px;
    margin: auto;
  }
  
  .formacao h3{
   margin: auto;
   font-size: 11px;
  }

  p{
    margin-left: 0px;
  }

  .rodape{
    width: 355px;
    margin-left: -85px;
  }
}


@media( max-width: 375px){
  .curriculo-des{
    width: 355px;
    }
  
  .curriculo-des h2{
  font-size: 15px;
  }
  
  .curriculo-des p{
    font-size: 11px;
    width: 355px;
    margin-left: 0px;
  }

  #foto-iza{
    margin-bottom:341px;
    margin-left:18vw;   
  }

  .p{
    font-size: 12px;
    margin-left: 13px;
  }

  .lista-exp{
    margin-left: 26px;
    font-size: 12px;
    width: 340px;
  }

  .rodape{
    width: 355px;
    margin-left: -90px;
  }
}


@media( max-width: 360px){
  .curriculo-des{
    width: 340px;
    }
  
  .curriculo-des h2{
  font-size: 15px;
  }
  
  .curriculo-des p{
    font-size: 11px;
    width: 340px;
    margin-left: 0px;
  }

  #foto-iza{
    margin-bottom:341px;
    margin-left:18vw;   
  }

  .p{
    font-size: 12px;
    margin-left: 13px;
  }

  .lista-exp{
    margin-left: 26px;
    font-size: 12px;
    width: 340px;
  }

}
